.tab-container{
    width: 90%;
    height: 40%;
    background: #363C43;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.tab-header{
    display: flex;
    width: 85%;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    background: #171717;
    height: 64px;
    color: #A3ADB2;
    font-size: 1.8rem;
    font-family: "Poppins", system-ui;
    padding: 0px 8px;
}
.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 80%;
    border-radius: 20px;
}
.tab:hover{
    cursor: pointer;
  }
.activeTab{
    color: white;
    background-color:rgb(37, 42, 42);
    box-shadow: 13.49px 16.87px 67.47px 8.43px #0A0A0A;    
}
.tab-content{
    width: 95%;
    height: 185px;
    color: #969696;
    font-size: 2rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 5px 0px 0px 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 5%;
    padding-right: 5%;
}